*.*~
.tmp
.DS_Store
.DS_Store?
node_modules/
bower_components/
public/vendor/
dist/
scripts/
.c9/
*.log
.vscode/
/nbproject/
/nbproject/private/
/nbproject/project.xml
/nbproject/project.properties
.project
.tern-project
